@inherits BlazorLayoutComponent

<div class="main">
    <div class="navbar">
        <div class="container">
            <h4>Page Loading Overlay Example</h4>
            <a href="https://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
    </div>

    <div class="content px-4">
        <div class="container">
            @Body
        </div>
    </div>
</div>
